{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<ul class="nav nav-tabs bg-secondary text-primary">
    <li class="nav-item text-primary">
      <a class="nav-link active" aria-current="page" href="">Home</a>
    </li>
    <li class="nav-item text-primary">
      <a class="nav-link" href="/about/">About</a>
    </li>
    <li class="nav-item text-primary">
      <a class="nav-link" href="/contact/">Contact</a>
    </li>
    <li class="nav-item spacing text-primary">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item  text-primary">
        <a class="nav-link" href="/register/">Register</a>
    </li>
  </ul>